<!DOCTYPE html>
<html>
<head>
  <title>SpreeAvalaraCalc</title>
  <%= stylesheet_link_tag    "spree_avalara_calc/application", media: "all" %>
  <%= javascript_include_tag "spree_avalara_calc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
